.cabecera {
  min-height: 125px;
  width: 100%;
  background-color: #ccc;
}

.titulo {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: rgb(23, 22, 22);
}

.navegacion {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  vertical-align: center;
  font-size: 6px;
}

.navegacion a {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  width: 50%;
  text-align: center;
  padding: 5px;
  color: #151414;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navegacion a:hover {
  background-color: rgb(114, 106, 106);
  color: #eee;
}
